<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img th:src="@{/images/user.png}" class="img-thumbnail"/>

                    <div class="inner-text" th:text="${#httpServletRequest.getContextPath()}">
                        Jhon Deo Alex
                        <br/>
                        <small>Last Login : 2 Weeks Ago</small>
                    </div>
                </div>

            </li>


            <li>
                <a class="active-menu" href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
            </li>
            <li th:each="menu : ${session.account.menus}">
                <a href="#">
                    <i class="fa fa-desktop "></i>
                    <span th:text="${menu.menuName}">test</span>
                    <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li th:each="cmenu:${menu.childMenus}">
                        <a th:href="${#httpServletRequest.getContextPath() + '/' + cmenu.menuUrl}"
                           th:text="${cmenu.menuName}"><i class="fa fa-toggle-on"></i></a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>

</nav>


</html>